* {
    margin: 0;
    padding: 0;
}
.header {
    border-bottom: 1px solid #ddd;
}
.header__inner {
    max-width: 1230px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    font-size: 36px;
    color: #856a48;
    padding-left: 50px;
}
.header-btn {
    padding: 5px;
    background-color: #f9f9f9;
    color: #a58156;
    border: 1px solid #d0a570;
    cursor: pointer;
}
.admin-search {
    max-width: 1230px;
    margin: 0 auto;
    text-align: center;
}
.admin-search__title {
    padding-top: 30px;
    font-size: 30px;
    color: #856a48;
}
.admin-search__nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.admin-search__nav--item {
    background-color: #eee;
    border: 1px solid #ddd;
    padding: 10px 20px;
    color: #856a48;
    border: 1px solid #ddd;
    border-radius: 3px;
}
.input {
    width: 300px;
    background-color: white;
    opacity: 0.7;
}
.input:hover {
    opacity: 1;
}
.select {
    cursor: pointer;
    opacity: 0.7;
}
.select:hover {
    opacity: 1;
}
.date {
    opacity: 0.7;
}
.date:hover {
    opacity: 1;
}
.admin-search__nav--search {
    width: 100px;
    background-color: #856a48;
    color: white;
    border: none;
    border: 1px solid #ddd;
    border-radius: 3px;
    cursor: pointer;
    opacity: 0.9;
}
.admin-search__nav--search:hover {
    opacity: 1;
}
.admin-search__nav--reset {
    width: 100px;
    background-color: #ebdce2;
    color: white;
    border: none;
    border-radius: 3px;
    text-decoration: none;
    line-height: 40px;
    opacity: 0.9;
}
.admin-search__nav--reset:hover {
    opacity: 1;
}
.admin-table {
    margin-top: 10px;
    margin-bottom: 100px;
    width: 100%;
    border-radius: 3px;
}
.admin-table__header {
    background-color: #856a48;
    color: white;
}
.admin-table__header th {
    padding: 10px 20px;
    text-align: left;
}
.admin-table__row {
    text-align: left;
    padding: 15px 20px;
    border-bottom: 1px solid #ddd;
    color: #856a48;
}
.admin-table__row:first-child {
    border-left: 1px solid #ddd;
}
.admin-table__row:last-child {
    border-right: 1px solid #ddd;
}
.name,
.gender {
    width: 15%;
}
.mail,
.content {
    width: 30%;
}
.admin-table__form {
    text-align: center;
}
.middle-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 30px;
}
.export-btn {
    background-color: #ecdecd;
    padding: 5px 20px;
    border-radius: 3px;
}
.export-btn button {
    color: #a58156;
    background-color: #ecdecd;
    border: none;
    cursor: pointer;
}
.open {
    background-color: white;
    color: #b4a18b;
    border: 1px #ddd solid;
    padding: 3px 10px;
    border-radius: 3px;
    cursor: pointer;
}
/* モーダル全体のスタイル */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    top: 7%;
    left: 20%;
    width: 60%;
    height: 90%;
    background-color: white;
    box-shadow: 1px 1px 5px #cecece;
    
}
.modal__inner {
    position: relative;
    margin: 10% auto;
    padding: 20px;
    width: 80%;
    background-color: white;
    border-radius: 5px;
}
.close {
    position: absolute;
    top: 30px;
    right: 40px;
    font-size: 20px;
    font-weight: bold;
    color: #b4a18b;
    border: 1px solid #ddd;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.modal-table {
    width: 100%;
}
.modal-table__row {
    line-height: 50px;
}
.modal-table__date {
    padding-left: 20px;
}
.delete-form {
    margin-top: 70px;
    text-align: center;
}
.delete-form button {
    cursor: pointer;
    color: white;
    border-radius: 3px;
    background-color: rgb(189, 71, 32);
    border: none;
    padding: 5px 15px;
    opacity: 0.9;
}
.delete-form button:hover {
    opacity: 1;
}